$background: #313131;
$text: #313131;
$text-muted: rgba(#313131, 0.6);
$text-inverse: #ffffff;
$text-inverse-muted: rgba(#ffffff, 0.6);

$primary: #339af0;
$primary-muted: rgba(#339af0, 0.2);
$primary-very-muted: rgba(#339af0, 0.1);
$warn: #a37b00;
$warn-muted: rgba(#ffc107, 0.2);
$error: #a51212;
$error-muted: rgba(#e24e4e, 0.2);
$error-very-muted: rgba(#e24e4e, 0.1);
$success: #00a700;
$success-muted: rgba(#00a700, 0.2);
$success-very-muted: rgba(#00a700, 0.1);

$panel: #f0ecec;
$panel-inset: #e4dfdf;
$dark: rgba(#000000, 0.2);
$darker: rgba(#000000, 0.4);
$light: rgba(#ffffff, 0.2);
$lighter: rgba(#ffffff, 0.4);
