@import "colors";

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: 1.6rem;

  &:focus {
    outline: none;
  }
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  color: $text;
}

img.icon {
  width: 2rem;
  height: 2rem;
  align-self: center;
  position: relative;
  top: 4.5px;
  margin: 0 0.4rem 0 0;
}

::selection,
::-moz-selection {
  background: $primary-muted;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

li {
  list-style: none;
}

.h-group {
  display: flex;
  gap: 0.8rem;
}

.v-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.spread {
  gap: 2rem;
}

.panel {
  padding: 2rem;
  // background-color: var(--dark);
  border: 1px dashed $darker;
}

.text-center {
  text-align: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.fa-solid {
  font-size: 1.6rem;
  color: $primary;
}

.hidden {
  display: none !important;
}

.muted {
  opacity: 0.5;
}

.emphasized {
  font-weight: 300;
  font-style: italic;
}

.text-center {
  text-align: center;
}

.vertical-separator {
  height: 100%;
  margin: 0 1rem;
  padding: 0;
  width: 1px;
  border-right: 1px dashed $dark;
}

.align-right {
  margin-left: auto;
}

.no-gap {
  gap: 0;
}
