@import "colors";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
  transition: all 0.3s;

  .home-container {
    display: flex;
    background-color$text-inverse;
    height: 40rem;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px 0px;

    .home-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.4rem;
      padding: 2rem;
      max-width: 128rem;
      height: 100%;
    }
  }
}

.home-panel {
  display: flex;
  position: relative;
  align-items: flex-start;

  // border-radius: 5px;
  overflow: hidden;

  &:hover img {
    opacity: 1;
  }

  img {
    opacity: 0.85;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.2);

    &.reset {
      transition: all 0.5s;
    }
  }

  .home-panel-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    .title {
      width: 100%;
      background-color: #00000090;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1rem 1rem;
      color$text-inverse;
      letter-spacing: 1px;
    }

    button {
      position: absolute;
      align-self: center;
    }
  }
}
