@import "colors";

.progress-bar {
  width: 10rem;
  height: 1.6rem;
  display: flex;
  align-items: center;

  .trough {
    background-color: $text-muted;
    border-radius: 99px;
    width: 100%;
    height: 100%;
    display: flex;

    .thumb {
      width: 80%;
      min-width: 1rem;
      background-color: white;
      border-radius: 99px;
      margin: 0.3rem;
      transition: all 0.1s linear;
    }
  }
}
