@import 'colors';

.gold-box {
  color: $text-muted;
}

.shop-collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .controls {
    justify-content: space-between;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    li.shop-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
      overflow: hidden;
      position: relative;

      .sale-banner {
        position: absolute;
        width: 12rem;
        top: 1.4rem;
        right: -3rem;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: $primary;
        color: white;
        padding: 0.4rem 0;
        transform: rotate(45deg);
      }

      .shop-card-body {
        flex: 1;
        position: relative;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .item-type {
          font-size: 1.2rem;
          color: $darker;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 1px;
        }

        .item-name {
          font-size: 2rem;
          color: $text;
          text-align: center;
          margin-bottom: 1rem;
        }

        img {
          width: 10rem;
          height: 10rem;
          margin-bottom: 1rem;
        }

        .item-description {
          color: $text-muted;
          text-align: center;
        }
      }

      .shop-card-footer {
        width: 100%;
        height: 6rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        background-color: $primary-muted;
        color: $primary;
      }

      button.price {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;

        .old-price {
          position: relative;
          // color: $lighter;

          &:before {
            content: '';
            width: 100%;
            position: absolute;
            top: calc(50%);
            border-bottom: 2px solid currentColor;
          }
        }
      }
    }
  }
}
